html, body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
}

body {
    justify-content: center; 
    align-items: center;
    text-align: center;
    background-color: rgb(231, 231, 231);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* index.php */

.loginBox {
    margin: 0 auto;
    width: 520px;
    height: 290px;
    border-radius: 15px;
    background: rgba(255,255,255,0.45);
    box-shadow: 0 4px 20px rgba(0,0,0,0.15);
    backdrop-filter: blur(6px);
    padding-top: 30px;
    transition: height 0.4s ease;
    overflow: hidden;
    margin-bottom: 80px;
    margin-top: 250px;
}

.field-input {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 25px;
}

.fields {
    padding-top: 25px;
}

.login {
    cursor: pointer;
    padding-top: 15px;
}

.login-button {
    cursor: pointer;
    height: 30px;
    width: 70px;
    color: black;
    font-weight: 500;
}

/* workout.php */

.header {
    font-size: 48px;
    padding-top: 50px;
}

.loginTime {
    padding-top: 14px;
}

.basicWorkout {
    padding-top: 32px;
    font-size: 22px;
}

.today {
    font-weight: 500;
}

.videos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-top: 45px;
}

.videos iframe {
    padding-top: 24px;
}

.videosHeader {
    font-size: 20px;
}

.vipBox {
    background-color: gold;
    padding: 8px 16px;
    display: inline-block;
    border-radius: 8px;
    margin-top: 48px;
    font-weight: bold;
}

.logout-button {
    margin: 45px 0;
    display: inline-block;
    height: 30px;
    width: 70px;
    background-color: rgb(176, 176, 176);
    border-radius: 5px;
}

.logout {
    text-decoration: none;
    color: black;
    font-weight: 500;
}

.logout-button:hover {
  transform: scale(1.02);
}
